* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: auto;
  background-color: whitesmoke;
  height: 100vh;
}

h1 {
  padding-top: 50px;
  text-align: center;
  font-style: oblique;
}

form {
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

#input {
  height: 30px;
  width: 250px;
  font-size: 24px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.definition {
  width: 60%;
  margin: auto;
  font-size: 20px;
  margin-top: 50px;
  font-weight: bold;
  padding-bottom: 50px;
}

i {
  font-weight: lighter;
}

.volume {
  display: flex;
  align-items: center;
}

#volume {
  margin: 25px;
  color: red;
  padding-top: 6px;
}

@media screen and (max-width: 500px) {
  #input {
    width: 50%;
  }

  .definition {
    width: 80%;
  }
}

@media screen and (min-width: 500px) and (max-width: 767px) {
  #input {
    width: 30%;
  }

  .definition {
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  #input {
    width: 250px;
  }

  .definition {
    width: 60%;
    margin: auto;
    font-size: 20px;
    margin-top: 50px;
    font-weight: bold;
    padding-bottom: 50px;
  }
}
